.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donated {
  background-image: url('https://images.all-free-download.com/images/graphicthumb/highdefinition_us_dollars_background_picture_170386.jpg');
}
