@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: #f4f6ff;
  font-family: 'Poppins', 'IBM Plex Sans', 'sans-serif';
}
